@font-face { font-family: roboto-regular; 
			 src: url('./fonts/Roboto/Roboto-Regular.ttf');
			 src: url{'./fonts/RobotoSlab-VariableFont_wght.ttf'}
}
html {
/*	background-image:url("./images/background.jpg");*/
	background-size:100%;
	background-color:#442a19 !important;
	background-repeat:no-repeat;
  background-attachment: fixed;
}

section.hero.is-primary{
	background-color:#26180e;
/*	background-image:url("./images/hero_background.png");
	background-size:cover;*/
}
section.hero.is-primary .title{
	color:#f2d48aff;
	font-family: RobotoSlab-ExtraLight;
}
section.hero.is-primary .subtitle{
	color:#f7e6ba;
	font-family: RobotoSlab-ExtraLight;
	font-size: 1.20rem;
}
.vertically-centered {
	margin-top:24px;
}

section.hero.is-primary a {
	color:#f7e6ba !important;
	text-decoration: underline;
	font-weight: bold;
	font-family: RobotoSlab-ExtraLight;
}

figure.image {
	width:256px;
	margin-left: 0;
  margin-right: auto;
}

.columns.nav-header {
	background-color:#e6b475;
}
.column.is-one-quarter.nav-header-left {
	padding-top:0px;
	padding-bottom:0px;
}
.column.nav-header-mid {
	padding:0px;
	padding-bottom:0px;
}
.navbar-menu {
	background-color:#e6b475;
/*	border-radius: 0px 0px 20px 20px;*/
}

.navbar {
	background-color:transparent !important;
/*	border-radius: 0px 0px 20px 20px;*/
}

.navbar-menu {
	background-color:#e6b475 !important;
	box-shadow:none !important;
}

.navbar-brand {
	background-color:transparent;
}
.navbar-burger {
	background-color:#e6b475;
	padding: 12px;
	margin-right: 36px;
	/*border-radius: 0px 0px 20px 20px;*/
}

.navbar-menu .navbar-item{
	font-weight:bold;
	color:#6b200d;
	font-size: 1.25rem;
	margin-left: 12px;
	padding: 12px;
	font-family: RobotoSlab-ExtraLight;
}

figure.image.navbar_symbol{
	height:100%;
	width:auto;
	padding-left:12px;
	padding-top:0px;
	padding-bottom:0px;
	padding-right:6px;
	margin-right:0px;
}
.navbar-menu .navbar-item .symbol_and_text{
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 12px;
}

.navbar-end {
	margin-right: 24px;
}

.navbar-menu .navbar-item:hover{
	background-color:transparent;
	font-weight:bold;
	color:#6b200d;
	margin-left: 12px;
	padding: 12px;
	font-family: RobotoSlab-ExtraLight;
}

.button.navbar_button {
	background-color:transparent;
	color:#6b200d;
	font-weight:bold;
	border: none;
	font-size: 1.25rem;
	padding: 0px;
	font-family: RobotoSlab-ExtraLight;
}

.button.navbar_button:hover{
	background-color:transparent;
	font-weight:bold;
	color:#6b200d;
	border: none;
	font-size: 1.25rem;
	font-family: RobotoSlab-ExtraLight;
}

.middle_content {
	background-image:url("./images/background.jpg");
	background-size: 100%;
	background-color:#442a19;
	background-repeat:no-repeat;
	min-height: 100vh;
	background-attachment: scroll;
}

.section h2{
	color:#f2d48aff;
}

.section.section {
	background-color:#26180e;
	border-radius: 20px 20px 20px 20px;
}

.section.section h2.subtitle{
	color:#f2d48aff;
	font-family: Roboto-Regular;
}

.section.section h2.subtitle.index {
	font-family: RobotoSlab-ExtraLight;
  font-style: italic;
	font-size: 1.5rem;
	line-height: 1.8em;
	text-align: center;
  text-transform: capitalize;
}
.section.section h1{
	color:#f2d48aff;
	text-align: center;
	font-family: Roboto-Regular;
	font-size: 1.25rem;
}

.section.section h2.subtitle.descriptions{
	margin-left:-12px;
	font-family: Roboto-Regular;
}

div.align-right h1{
	text-align:right;
	font-family: Roboto-Regular;
}
div.align-right h2{
	font-family: RobotoSlab-ExtraLight;
	text-align:right;
}
div.horizontally-centered{
	padding-top:18px;
	padding-bottom:24px;
}
div.text-background{
	background-color:#6b200d66'
}

div.product_grid {
	display:flex;
	align-items: center;
	text-align: center;
}

div.product_grid img{
	padding-right:6px;
	border-radius: 20px;

}
