/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#calendar-container {
  width: 80%;
  max-width: 800px;
  margin-top: 30px;
}

.calendar-header {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 10px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-day {
  padding: 15px;
  text-align: center;
  background-color: white;
  border: 1px solid #ccc;
  position: relative;
}

.calendar-day:hover {
  background-color: #eef;
}

button {
  padding: 10px 15px;
  font-size: 1em;
  margin: 20px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005f75;
}
