html {
	background-color: #E9EDBB;
	background-image: url("/~sandyna/cookbook/assets/images/cooking_pattern.svg");
	background-repeat: repeat;
	background-position: right 20px;
}

div.footer {
	background-color: transparent;
}


div.navi {
	background-color: #F3FAB4;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	border-radius: 6px;
	-moz-border-radius: 6px;
}

div.navi li{
	text-align: center;
}

div.navi a{
	border: none;
	color: #FFFFFF;
	padding: 6px 6px;
	margin-bottom: 24px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
   	background-color: #00994d;
	border-radius: 6px;
	-moz-border-radius: 6px;
	display: inline-block;
	min-width: 80%;
}

div.navi h1 {
	color: #FFFFFF;
	background-color: #99cc00;
	padding: 6px;
	font-weight: bold;
	margin-bottom: 18.720px;
	font-size: 25px;
  border-radius: 6px;
	-moz-border-radius: 6px;
}

div.content {
	background-color: #F3FAB4;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

div.content h1 {
	color: #FFFFFF;
	background-color: #00994d;
	padding: 6px;
	line-height: 37.5px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	font-size: 25px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

div.content div.recipes_list ul{
	padding: 24px;
	padding-top: 0px;
	text-align: left;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;

}

div.content ul {
	margin-left: 24px;
	margin-top: 8px;
}

div.content li a {
	color: #4D5440;
	font-size: 20px;
	font-weight: bold;
	margin-left: 24px;
}

div.content div.recipe_body {
	margin-left: 24px;
	margin-right: 24px;
	font-weight: bold;
	padding-bottom: 24px;
}

div.content div.recipe_body h2 {
	color:#FFFFFF;
	background-color:#00994d;
	text-align: justify;
	font-weight: normal;
	font-size: 25px;
	padding-left: 9px;
	padding-top: 2px;
	padding-bottom: 2px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.content div.recipe_body h3 {
	margin-bottom: 8px;
	margin-top: 8px;
	font-size: 20px;
}

div.content img {
	display: block;
	width: 70%;
	height: 70%;
	margin: 24px auto 24px auto;
}
