<!doctype html>
<html>
	<head>
	<meta charset="utf-8">
		<title>The Alchemist - coffee and hot chocolate dream</title>
		<link rel="stylesheet" href="./styles.css">
		<link rel="stylesheet" href="./bulma.min.css">
		<script src="./script.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	</head>

	<body>
	
	<section class="hero is-primary">
		<div class="hero-body">
			<div class="columns">
				<div class="column is-third">
					<div class="level">
						<div class="level-left">
							<a href="index_de.html">
								<figure class="level-item image">
									<img style="padding-right:12px;" src="./images/chocolate.svg">
								</figure>
							</a>
							<div class="horizontally-centered">
<!--						<h1 class="title">The Alchemist</h1>
								<h2 class="subtitle">Köstliche heiße Schokolade</br>Handwerklicher Kaffee</h2>-->
							</div>
						</div>
					</div>
				</div>
				<div class="column">
				</div>
				<div class="column is-half">
					<div class="vertically-centered">
						<div class="container align-right">
							<h1 class="title">Finden Sie uns in den sozialen Medien:</h1>
							<h2 class="subtitle">
								<a href="https://www.facebook.com/alchemistchocolate">
								The Alchemist auf Facebook</a><br/>
								<a href="https://www.instagram.com/thealchemistchocolate/">
								The Alchemist auf Instagram</a><br/>
				 			</h2>
				 		</div>
		 			</div>
				</div>
			</div>
		</div>
	</section>
	
	<div class="columns nav-header">
		<div class="column is-one-quarter nav-header-left"></div>
		<div class="column nav-header-mid">
			<nav class="navbar" role="navigation" aria-label="main navigation">
				<div class="navbar-brand">
					<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
					</a>
				</div>

			<div id="navbarBasicExample" class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" href="./about_us_de.html">
						<div class="symbol_and_text">
							<figure class="image navbar_symbol">
							  <img src="./images/alch_sym_01.svg">
							</figure>
					  	Über uns
					  </div>
					</a>
					<a class="navbar-item" href="./products_de.html">
						<div class="symbol_and_text">
							<figure class="image navbar_symbol">
						  	<img src="./images/alch_sym_02.svg">
							</figure>
						  Produkte
						</div>
					</a>
					<a class="navbar-item" href="https://www.etsy.com/shop/AlchemistChocolate">
						<div class="symbol_and_text">
							<figure class="image navbar_symbol">
							  <img src="./images/alch_sym_03.svg">
							</figure>
							Shop auf Etsy
						</div>
					</a>
			</div>
			<div class="navbar-end">
			  <div class="navbar-item">
			    <div class="buttons">
							{% assign url = page.url | remove: ".html" | remove: "_de" %}
							{% if url == '/' %}
							{% assign url = '/index' %}
							{% endif %}

							{% assign url_html = url | append: ".html" %}
							{% assign url_de_html = url | append: "_de.html" %}

							<ul>
								<li><a class="button navbar_button" href="{{url_html}}" {% if page.url == url_html or page.url == '/' %}class="current_language"{% endif %}> 
									<div class="symbol_and_text">
										<figure class="image navbar_symbol">
						  				<img src="./images/alch_sym_04.svg">
										</figure>
										EN 
									</div>
								</a></li>
							</ul>
			    </div>
			  </div>
			</div>
		</nav>
	</div>
	<div class="column is-one-quarter"></div>
</div>	
	<div class="middle_content">
	{{ content }}
	</div>
	</body>
</html>
