<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
	<div class="header">
		<div class="image"> <a href="index.html"><img src="alche.svg" alt="The Alchemist"> </a> </div>
	   	<div class="language"> {% include language.html %} </div>
	</div>
	{% include navigation.html %}
    <div class="section">
		This page is currently under construction and The Alchemist is still in the founding process.
		{{ content }}
	</div>
  </body>
</html>
