<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
	<div class="header">
		<div class="image"> <a href="index_de.html"><img src="alche.svg" alt="The Alchemist"> </a> </div>
	   	<div class="language"> {% include language.html %} </div>
	</div>
	{% include navigation_de.html %}
    <div class="section">
		Diese Seite befindet sich im Aufbau und Der Alchemist befindet sich noch im Gründungsprozess. 
		{{ content }}
	</div>
  </body>
</html>
