<!doctype html>
<html>
	<head>
	<meta charset="utf-8">
		<title>The Alchemist - coffee and hot chocolate dream</title>
		<link rel="stylesheet" href="./styles.css">
		<link rel="stylesheet" href="./bulma.min.css">
		<script src="./script.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	</head>

	<body>
	
	<section class="hero is-primary">
		<div class="hero-body">
			<div class="columns">
				<div class="column is-third">
					<div class="level">
						<div class="level-left">
							<figure class="level-item image is-128x128">
								<img style="padding-right:12px;" class="is-rounded" src="./chocolate.jpg">
							</figure>
							<div class="horizontally-centered">
								<h1 class="title">The Alchemist</h1>
								<h2 class="subtitle">Delicious hot chocolate </br>Artisan coffee</h2>
							</div>
						</div>
					</div>
				</div>
				<div class="column">
				</div>
				<div class="column is-half">
					<div class="container align-right">
						<h1 class="title">Contact:</h1>
						<h2 class="subtitle">
					 		Michaela Šandalová<br/>
							<a href="tel:0041767583055">
							+41 76 758 30 55</a><br/>
							<a href="https://www.facebook.com/alchemistchocolate">
							The Alchemist on Facebook</a><br/>
							<a href="mailto:sandalovamicha@gmail.com?subject=Hot%20chocolate">
							sandalovamicha@gmail.com</a><br/>
			 			</h2>
		 			</div>
				</div>
			</div>
		</div>
	</section>
	
	<div class="columns">
		<div class="column is-one-quarter" style="padding-top:0; padding-bottom:0px;"></div>
		<div class="column" style="padding:12px;">
			<nav class="navbar" role="navigation" aria-label="main navigation">
				<div class="navbar-brand">
					<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
					</a>
				</div>

			<div id="navbarBasicExample" class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" href="./index.html">
					  About us
					</a>

					<a class="navbar-item" href="./products.html">
					  Products
					</a>
					<a class="navbar-item" href="./shop.html">
						Shop
					</a>
			</div>
			<div class="navbar-end">
			  <div class="navbar-item">
			    <div class="buttons">
							{% assign url = page.url | remove: ".html" | remove: "_de" %}
							{% if url == '/' %}
							{% assign url = '/index' %}
							{% endif %}

							{% assign url_html = url | append: ".html" %}
							{% assign url_de_html = url | append: "_de.html" %}

							<ul>
								<li><a class="button navbar_button" href= "{{url_de_html}}" {% if page.url == url_de_html %}class="current_language"{% endif %}> DE </a></li>
							</ul>
			    </div>
			  </div>
			</div>
		</nav>
	</div>
	<div class="column is-one-quarter"></div>
</div>	
	
	{{ content }}
	
	</body>
</html>
